<h1>Experience</h1>

<h3>position, dates</h3>
<ul>
    <li>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua
    </li>
    <li>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua
    </li>
    <li>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua
    </li>
</ul>

<h3>position2, dates</h3>
<ul>
    <li>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua
    </li>
    <li>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua
    </li>
    <li>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua
    </li>
</ul>

<h3>position3, dates</h3>
<ul>
    <li>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua
    </li>
    <li>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua
    </li>
    <li>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua
    </li>
</ul>


<h1>Skills</h1>

<p>HTML/CSS</p>
<p>JavaScript</p>
<p>Python</p>
<p>Java</p>
<p>C</p>
<p>Bootstrap</p>
<p>jQuery</p>
<p>React</p>
<p>Linux</p>