{{!-- ------------------------------HEADER------------------------------ --}}

<section class="dark-section">
    <div class="container">

        <h1>Daniel Gwon</h1>
        <div>USAF Officer, Computer Science Student</div>
        <div>Boston, MA</div>
        <p>
            <a href="https://github.com/danielgwon" class="fa fa-github" id="first-header-icon"></a>
            <a href="https://www.linkedin.com/in/dgwon/" class="fa fa-linkedin"></a>
            <a href="https://twitter.com/dgwons" class="fa fa-twitter"></a>
        </p>

    </div>
</section>



{{!-- ------------------------------ABOUT ME------------------------------ --}}
<section class="light-section">
    <div class="container">

        <h2>About Me</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et
            dolore
            magna aliqua.

            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et
            dolore
            magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt
            ut
            labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod
            tempor
            incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing
            elit,
            sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur
            adipisicing
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a download class="btn btn-info" href="/resume.pdf">My Resume</a>

    </div>
</section>



{{!-- ------------------------------CAROUSEL------------------------------ --}}
<section class="dark-section">
    <div class="container">
        <div class="carousel-container">

            {{!-- Full-width images with number and caption text --}}
            <div class="testimony" style="display: block">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum." <br>
                - somebody 1
            </div>

            <div class="testimony">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum." <br>
                - somebody 2
            </div>

            <div class="testimony">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum." <br>
                - somebody 3
            </div>

            {{!-- Next and previous buttons --}}
            <span id="prev">&#10094;</span>
            <span id="next">&#10095;</span>
        </div>
        <br>
    </div>
</section>